<h2>Editar Usuario</h2>
<form method="POST" action="/usuarios/{{usuario.dataValues.id}}/editar">
  <label for="nombre">Nombre:</label>
  <input type="text" name="nombre" value="{{usuario.dataValues.nombre}}" required>
  
  <label for="correo">Correo:</label>
  <input type="email" name="correo" value="{{usuario.dataValues.correo}}" required>
  
  <label for="rol">Rol:</label>
  <select name="rol">
    {{#each roles}}
      <option value="{{this}}" {{#ifCond usuario.dataValues.rol this}}selected{{/ifCond}}>{{this}}</option>
    {{/each}}
  </select>

  <label for="contrasena">Contraseña (Dejar en blanco para no cambiar):</label>
  <input type="password" name="contrasena">
  
  <button type="submit">Guardar Cambios</button>
</form>
