<!-- Mostrar mensajes de éxito -->
{{#if success}}
  <script>
    Swal.fire({
      title: '¡Éxito!',
      text: '{{success}}',
      icon: 'success',
      confirmButtonText: 'Aceptar'
    });
  </script>
{{/if}}

<!-- Mostrar mensaje de error -->
{{#if error}}
  <script>
    Swal.fire({
      title: '¡Error!',
      text: '{{error}}',
      icon: 'error',
      confirmButtonText: 'Aceptar'
    });
  </script>
{{/if}}

<h1>Bienvenido, {{user.nombre}}</h1>
<p>Este es el menú del Administrador.</p>
<a href="/login">Cerrar sesión</a>

<h2>Mesas</h2>
<table>
  <tr>
    <th>Mesa</th>
    <th>Estado</th>
    <th>Acción</th>
  </tr>
  {{#each mesas}}  <!-- Iterar sobre las mesas -->
    <tr>
      <td>{{this.dataValues.numero}}</td>  <!-- Mostrar el número de la mesa -->
      <td>{{this.dataValues.estado}}</td>  <!-- Mostrar el estado de la mesa -->
      <td>
        <!-- Formulario para cambiar el estado a "disponible" -->
        <form action="/mesas/{{this.dataValues.id}}/disponible" method="POST">
          <button type="submit" class="btn btn-success">Disponible</button>
        </form>
        <!-- Formulario para cambiar el estado a "ocupada" -->
        <form action="/mesas/{{this.dataValues.id}}/ocupada" method="POST">
          <button type="submit" class="btn btn-danger">Ocupada</button>
        </form>
      </td>
    </tr>
  {{/each}}
</table>

<h2>Comandas</h2>
<table>
  <tr>
    <th>Comanda ID</th>
    <th>Mesa</th>
    <th>Estado</th>
    <th>Acción</th>
  </tr>
  {{#each comandas}}
  <tr>
    <td>{{this.dataValues.id}}</td>
    <td>{{this.dataValues.mesaId}}</td>
    <td>{{this.dataValues.estado}}</td>
    <td><a href="/comandas/{{this.id}}/editar">Editar</a></td>
  </tr>
  {{/each}}
</table>

<h2>Gestionar Usuarios</h2>
<a href="/admin/crearUsuario">
  <button class="btn btn-primary">Agregar Nuevo Usuario</button>
</a>

<h2>Usuarios</h2>
<table>
  <tr>
    <th>Nombre</th>
    <th>Correo</th>
    <th>Rol</th>
    <th>Acción</th>
  </tr>
  {{#each usuarios}} <!-- Iterar sobre los usuarios -->
    <tr>
      <td>{{this.dataValues.nombre}}</td> <!-- Mostrar el nombre del usuario -->
      <td>{{this.dataValues.correo}}</td> <!-- Mostrar el correo del usuario -->
      <td>{{this.dataValues.rol}}</td> <!-- Mostrar el rol del usuario -->
      <td>
        <a href="/usuarios/{{this.dataValues.id}}/editar">Editar</a> 
        <form action="/usuarios/{{this.dataValues.id}}/eliminar" method="POST" style="display:inline;">
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
      </td> <!-- Acción para editar o eliminar el usuario -->
    </tr>
  {{/each}}
</table>
